:root {
  --background-color: #333;
  --text-color: #ff5e00;
  --primary-color: #ff5e00;
  --secondary-background: #696969;
  --white: white;
  --black: black;
  --black-rgba: rgba(0, 0, 0, 0.9);
  --gray-white: rgb(177, 177, 177);
  --cord-active: rgb(80, 252, 0);
  --cord-inactive: rgb(90, 90, 90);
  --tutti-info: red;
}
