@use "./colors.scss";

.controlPanel {
  display: flex;
  //   flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 98%;
  height: 100%;

  .hyperlink {
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    padding: 1rem;
    font-weight: 600;
    font-size: 50px;
    border-radius: 1rem;
    width: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
